@import './reset.css';

:root {
    --beige-1: 35, 51%, 84%;
    --beige-2: 50, 51%, 84%;
    --dark-green-1: 187, 60%, 25%;
    --dark-green-2: 200, 60%, 25%;
    --light-green-1: 150, 10%, 68%;
    --light-green-2: 150, 10%, 48%;
    --green-3: 187, 60%, 60%;
    --black-0: 0, 0%, 0%,;
    --white-0: 0, 0%, 100%;
    --white-1: 0, 15%, 80%, 0.5;
    --orange-1: , 81%, 71%;
    --light-pink-1: 8, 80%, 81%;

    --lighter-primary: 187 60 60;
    --tertiary: 74 100 84;

    --size-fluid-15: clamp(25rem, 35vw, 30rem);
    --size-fluid-18: clamp(30rem, 45vw, 35rem);
    --size-fluid-20: clamp(35rem, 50vw, 40rem);
    --font-family-hero: 'Adam Script', sans-serif;
}

@font-face {
    font-family: 'AdamScript';
    src: url(AdamScript.ttf) format('truetype');
}

html,
body {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: auto;
    max-width: 100vw;
    overflow-x: hidden;
}

