@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --beige-1: 41, 66%, 89%;
    --beige-2: 35, 51%, 84%;
    --dark-green-1: 187, 60%, 25%;
    --dark-green-2: 187, 0%, 20%;
    --dark-green-3: 168, 40%, 80%;
    --light-green-1: 150, 10%, 68%;
    --green-3: 187, 60%, 60%;
    --black-0: 0, 0%, 0%,;
    --white-0: 0, 0%, 100%;
    --white-1: 0, 15%, 80%, 0.5;
    --orange-1: , 81%, 71%;
    --light-pink-1: 8, 80%, 81%;

    --lighter-primary: 187 60 60;
    --tertiary: 74 100 84;

    --size-fluid-15: clamp(25rem, 35vw, 30rem);
    --size-fluid-18: clamp(30rem, 45vw, 35rem);
    --size-fluid-20: clamp(35rem, 50vw, 40rem);
}

html,
body {
    font-family:  "Noto Sans", "serif";
}

